.avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
}

.avatarImage {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatarFallback {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--foreground);
  font-weight: 600;
}
