.wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
  flex: 1;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
