.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.fieldLabel {
  font-size: var(--font-md);
  font-weight: 600;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 20px;
  height: 20px;
  color: var(--bird-orange);
}
