.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  font-weight: 500;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border: 1px solid var(--input-border);
}

.button:focus-visible {
  outline: none;
  border: 1px solid var(--input-border);
  border: 2px solid transparent;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.default {
  background-color: var(--bird-yellow);
  color: var(--text-primary);
}

.default:hover {
  background-color: var(--bird-orange);
}

.outline {
  border: 1px solid var(--input-border);
  background-color: transparent;
  color: var(--text-primary);
}

.outline:hover {
  background-color: var(--sky-light);
  color: var(--text-primary);
}

.ghost {
  background-color: transparent;
  color: var(--text-primary);
}

.ghost:hover {
  background-color: var(--sky-light);
  color: var(--text-primary);
}

.primary {
  background-color: var(--bird-yellow);
  color: var(text-primary-btn);
  font-weight: 600;
}

.primary:hover {
  background-color: var(--bird-orange);
}

.secondary {
  background-color: var(--bird-orange);
  color: var(--text-primary);
  font-weight: 600;
}

.secondary:hover {
  background-color: var(--bird-yellow);
}

.sm {
  height: var(--button-height-sm);
  padding: 0 var(--spacing-md);
  font-size: var(--font-sm);
}

.md {
  height: var(--button-height-md);
  padding: var(--spacing-sm) var(--spacing-md);
}

.lg {
  height: var(--button-height-lg);
  padding: 0 var(--spacing-lg);
  width: 100%;
}
