.cell {
  padding: var(--spacing-md);
  vertical-align: middle;
}

.cell:first-child {
  width: 80px;
  padding-left: var(--spacing-lg);
}

.cell:last-child {
  padding-right: var(--spacing-lg);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hidden-sm {
  display: none;
}

.hidden-md {
  display: none;
}

.hidden-lg {
  display: none;
}

@media (min-width: 640px) {
  .hidden-sm {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  .hidden-md {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .hidden-lg {
    display: table-cell;
  }
}
