.container {
  max-width: 1152px;
  padding: var(--spacing-md);
  margin: 0 auto;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.title {
  text-align: center;
  margin: 20px 0;
}

.comments {
  list-style: none;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  padding: 0;
  overflow: hidden;
}

.editor {
  display: block;
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  padding: 16px;
  margin: 10px 0;
  resize: none;

  &:focus {
    outline: none;
  }
}
