.container {
  max-width: 1152px;
  padding: var(--spacing-md);
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.comments {
  list-style: none;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  padding: 0;
  overflow: hidden;
}
