.container {
  min-width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-2xl);
}

.title {
  text-align: center;
  margin: 20px 0;
}

.comments {
  list-style: none;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  padding: 0;
}

.editor {
  display: block;
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  padding: 16px;
  margin: 10px 0;
  resize: none;

  &:focus {
    outline: none;
  }
}
