.head {
  height: 48px;
  padding: 0 var(--spacing-md);
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  color: var(--text-primary);
}

.head:first-child {
  width: 80px;
  padding-left: var(--spacing-lg);
}

.head:last-child {
  padding-right: var(--spacing-lg);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hidden-sm {
  display: none;
}

.hidden-md {
  display: none;
}

.hidden-lg {
  display: none;
}

@media (min-width: 640px) {
  .hidden-sm {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  .hidden-md {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .hidden-lg {
    display: table-cell;
  }
}
