:root {
  --text-primary: #000;
  --text-inverse: #fff;
  --text-orange: #fbbf24;
  --text-muted: #666d7b;
  --text-primary-btn: #000;

  --bg-primary: #fff;
  --bg-inverse: #000;

  --orange-inverse: #ef4444;

  --sky-light: #87ceeb;
  --sky-main: #307c9a;
  --sky-dark: #0f2645;
  --sky-game: #ffffff;

  --accent: #f3f4f6;
  --border: #e5e7eb;
  --input-border: #d1d5db;
  --ring-color: #3b82f6;
  --time-start-color: #2c3e50;
  --bird-yellow: #fbbf24;
  --bird-orange: #f97316;
  --destructive: #dc2626;
  --glass-bg: rgba(255, 255, 255, 0.9);
  --glass-bg-light: rgba(135, 206, 235, 0.3);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --text-primary: #fff;
  --text-inverse: #000;
  --text-orange: #fbbf24;
  --text-muted: #cacacc;
  --text-primary-btn: #000;

  --bg-primary: #1a1a1a;
  --bg-inverse: #fff;

  --orange-inverse: #fbbf24;

  --sky-light: #0f2645;
  --sky-main: #18546c;
  --sky-dark: #001017;
  --sky-game: #307c9a;

  --accent: #374151;
  --border: #374151;
  --input-border: #4b5563;
  --ring-color: #60a5fa;
  --time-start-color: #3b82f6;
  --bird-yellow: #fbbf24;
  --bird-orange: #f59e0b;
  --destructive: #ef4444;
  --glass-bg: rgba(26, 26, 26, 0.9);
  --glass-bg-light: rgba(30, 58, 95, 0.3);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}
